kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-api-from-webapp
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      {{- include "echo-app.api.labels" . | lower | nindent 6 }}
  ingress: 
  - from:
    - podSelector:
        matchLabels:
          {{- include "echo-app.webapp.labels" . | lower | nindent 10 }}
    ports:
      - port: 80
        protocol: TCP